# Requirements for developing biomedsheets

# Include base requirements
-r requirements.txt

# Custom sphinx that allows for prettier embedding of multi-line string constants
-e git://github.com/holtgrewe/sphinx.git@autodata/human-readable#egg=sphinx

# Wonderful py.test library, style checker etc.
pytest==3.0.6
pytest-sugar==0.8.0
flake8==3.2.1
pytest-flake8==0.8.1
coverage==4.3.4
pytest-cov==2.4.0
